<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>POF SGO</title>

        <link rel="stylesheet" type="text/css" th:href="@{/bootstrap-4.6.2-dist/css/bootstrap.min.css}" >
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.2/css/jquery.dataTables.css">

        <script type="text/javascript" th:src="@{/jquery-3.6.3.min.js}"></script>
        <script type="text/javascript" th:src="@{/bootstrap-4.6.2-dist/js/bootstrap.min.js}"></script>
        <script type="text/javascript" th:src="@{/paises/app.bundle.js}" defer></script>

        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.js"></script>

    </head>

    <body>
        <div class="container">
            <div class="card">
                <h5 class="card-header">Paises</h5>
                <div class="card-body">
                    <table id="paises">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nombre</th>
                            </th>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                    <button type="button" class="btn btn-primary">Primary</button>
                </div>
            </div>
        </div>


    </body>

    <script>
        const config = { context: ""};
    </script>

</html>